<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Adress</th>
        <th scope="col">Mobile</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let l of collection ">
        <td>{{l.id}}</td>
        <td>{{l.name}}</td>
        <td>{{l.address}}</td>
        <td>{{l.mobile}}</td> 
        <td>{{l.email}}</td>
        <td><a routerLink = '/update/{{l.id}}'><i class="fa fa-edit" style="font-size:20px;color:red"></i></a></td>
        <td><a routerLink = '/delete/{{l.id}}'><i class="fa fa-trash" style="font-size:20px;color:red"></i></a></td>
        

     
      </tr>

    </tbody>
  </table>